.mixin.out/
.physics_mod_cache/
.vscode/
blueprints/
build/
config/
coremods/
crash-reports/
defaultconfigs/
essential/
global_packs/
lightspeed-cache/
local/
localconfigs/
logs/
map exports/
modernfix/
saves/
schematics/
screenshots/
server-resource-packs
Xaero*/
.qmenu_opened.marker
icon.png
newModpackVersion.txt
options.tt
rhino.local.properties
servers.dat_old
servers.essential.dat
usercache.json
usernamecache.json